@font-face {
    font-family: "Fira GO";
    src: url("fonts/FiraGO-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: "Fira GO", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    background-color: #fff;
    font-variant-ligatures: contextual common-ligatures;
    font-feature-settings: "ss05";
}

/* Fix jumping scrollbar when switching to long pages */

html {
    margin-left: calc(100vw - 100%);
    margin-right: 0;
}

@media (max-width: 767.98px) {
    html {
        font-size: 0.9rem;
    }
}